@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'Lato', sans-serif;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;

$base-line-height: 1.5 !default;

$head-font-family: 'Fira Sans Condensed', sans-serif;

$spacing-unit:     30px !default;

$title-color:	#000066; 
$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$hover-color:      #0099FF !default; 
$active-color:	   #FFA500 !default;
$header-background: #e6f5ff; 

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1000px !default;

$on-palm:          800px !default;
$on-laptop:        1000px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
