---
layout: default
---

<div id = "intro" style="background-color:#ffb84d;color:black; opacity: 0.8; text-align:center; font-family: 'Fira Sans Condensed', sans-serif;">
  <p style="margin:50px;">
  <h1 style="color:white;"> Hello! I'm Anya.</h1>
  <h2 style="margin-left: 100px; margin-right:100px"> I'm an <span style="color:white"> electrical engineering student </span>and <span style="color: white;"> designer</span>.</h2>
  <h2 style="margin-left: 100px; margin-right:100px"> I try to find ways to combine my creativity and technical skills through interdisciplinary work, especially the merging of healthcare, engineering, and design. </h2>
</p>
<button style="background-color:#ffb84d;color:black; text-align:center; font-family: 'Fira Sans Condensed', sans-serif;">more about me</button>
</div>


<!--
<div id="wrapper">
    <img src="/uploads/instagramFeed/Jan18.jpg" />
</div>​​​​​​​​​​-->



